.right_pane {
	display: flex;
	/*min-height: 100vh;*/
	padding: 0 10px;
	align-items: top;
	justify-content: center;
}

.calender_container {
	background: #fff;
	width: 500px;
	border-radius: 10px;
	box-shadow: 0 15px 40px rgba(0,0,0,0.12);
	position: relative;
}

.calender_container header {
	display: flex;
	align-items: center;
	padding: 25px 30px 10px;
	justify-content: space-between;
}

/* All sub'things' in container */
.calender_container > * {
	padding-left: 25px;
	align-items: left;
}

.calender_container #UserInfo {
	padding-top: 10px;
}

.username {
	padding-left: 25px;
	padding-right: 25px;
	width: 450px;
}

.calender_container #reserve_btn {
	float: left;
	margin-left: 25px;
	margin-bottom: 25px;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
	background-color: #fff;
}

.calender_container #reserve_btn:hover {
	background-color: #e4e1e1;
}
