.right_pane {
	display: flex;
	/*min-height: 100vh;*/
	padding: 0 10px;
	align-items: top;
	justify-content: center;
}

.calender_container {
	background: #fff;
	width: 500px;
	border-radius: 10px;
	box-shadow: 15px 15px 40px rgba(0,0,0,0.12);
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.calender_container .textfields {
	padding: 10px;
	height: 20px;
	font-size: 16px;
	border-radius: 5px;
}

.calender_container #username {
	width: 80%;
	margin-top: 30px;
	margin-bottom: 15px;
}

.calender_container .userinfo {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	width: 85%;
}

.calender_container .userinfo > * {
	width: 41%
}

.calender_container #reserve_btn {
	/* float: left; */
	align-items: left;
	margin-top: 25px;
	margin-left: 25px;
	margin-bottom: 25px;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
	background-color: #fff;
}

.calender_container #reserve_btn:hover {
	background-color: #e4e1e1;
}
