/* Style sheet */

/* vh - viewport height
 * vw - viewport width
 * 1vh is equivalent to 1% of the view height
 * ie. a better "pixel" */


.pane_container {
	width: 100%;
	float: center;
	height: 100%;
	position: relative;
	display: flex;
}

.pane_container .leftmost_pane {
	float: left;
	width: 15%;
	background-color: rgb(255,255,255);
}
.pane_container .rightmost_pane {
	float: right;
	width: 15%;
	background-color: rgb(255,255,255);
}

.pane_container .left_pane {
	float: left;
	width: 30%;
	padding: 40px;
	background-color: rgb(255,255,255);
	text-align: left;
}
.pane_container .right_pane {
	float: left;
	width: 40%;
	padding: 40px;
	background-color: rgb(255,255,255);
	border-left: 1px solid lightgray;
}


